<div class="form-container" fxLayout="column" fxLayoutAlign="center center">
  <h2>Sign in</h2>

  <form class="form" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm"
        (ngSubmit)="onSubmitForm(f)">

    <mat-form-field>
      <mat-label>email</mat-label>
      <input matInput type="email" ngModel name="email" placeholder="email" email required #emailInput="ngModel">
      <mat-error *ngIf="emailInput.control.hasError('required')">Email should not be empty</mat-error>
      <mat-error *ngIf="!emailInput.control.hasError('required')">Enter Valid Email</mat-error>

    </mat-form-field>

    <mat-form-field>
      <mat-label>password</mat-label>
      <input matInput type="password" ngModel name="password" placeholder="password" minlength="6" required
             #inputPassword="ngModel">
      <mat-error *ngIf="inputPassword.control.hasError('minlength')">Password must be at least 6 characters long.
      </mat-error>
      <mat-error *ngIf="!inputPassword.control.hasError('minlength')">Password is required.
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" [disabled]="f.invalid">Submit</button>
  </form>

</div>
